[submodule "fcitx5"]
	path = fcitx5
	url = https://github.com/fcitx/fcitx5
[submodule "engines/fcitx5-hallelujah"]
	path = engines/fcitx5-hallelujah
	url = https://github.com/fcitx-contrib/fcitx5-hallelujah
[submodule "engines/fcitx5-rime"]
	path = engines/fcitx5-rime
	url = https://github.com/fcitx/fcitx5-rime
[submodule "deps/AlertToast"]
	path = deps/AlertToast
	url = https://github.com/fcitx-contrib/AlertToast
[submodule "engines/fcitx5-chinese-addons"]
	path = engines/fcitx5-chinese-addons
	url = https://github.com/fcitx/fcitx5-chinese-addons
[submodule "engines/libime"]
	path = engines/libime
	url = https://github.com/fcitx/libime
[submodule "engines/fcitx5-lua"]
	path = engines/fcitx5-lua
	url = https://github.com/fcitx/fcitx5-lua
[submodule "engines/fcitx5-mozc"]
	path = engines/fcitx5-mozc
	url = https://github.com/fcitx-contrib/fcitx5-mozc
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake
[submodule "fcitx5-keyboard-layouts"]
	path = fcitx5-keyboard-layouts
	url = https://github.com/fcitx-contrib/fcitx5-keyboard-layouts
