name: ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install clang-format swift-format

      - name: Lint
        run: ./scripts/lint.sh

  build:
    needs: lint
    runs-on: macos-15
    env:
      MOZC_SHA: ad0e97b8b8dcfd4c841a02c5d6a043fb5e741405
    strategy:
      fail-fast: false
      matrix:
        include:
          - { simulator: "iPhone 16" }

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          repository: google/mozc
          path: engines/fcitx5-mozc/mozc
          ref: ${{ env.MOZC_SHA }}

      - name: Install dependencies
        run: |
          brew install \
            nlohmann-json \
            extra-cmake-modules
          IOS_PLATFORM=SIMULATOR ./scripts/install-deps.sh
          wget https://github.com/fcitx-contrib/fcitx5-prebuilder/releases/download/macos/marisa-$(uname -m).tar.bz2
          sudo tar xjvf marisa-$(uname -m).tar.bz2 -C /usr/local bin/marisa-build

      - name: Build
        run: |
          git apply --directory=fcitx5 patches/fcitx5.patch
          git apply --directory=engines/libime/src/libime/core/kenlm patches/kenlm.patch
          git apply --directory=engines/fcitx5-rime patches/rime.patch
          cmake -B build -G Xcode \
            -DURL_SCHEME=fcitx \
            -DHALLELUJAH=ON \
            -DRIME=ON \
            -DIOS_PLATFORM=SIMULATOR
          cmake --build build --config Release

      - name: Check validity
        run: |
          ./scripts/check-validity.sh

      - name: Install
        run: |
          xcrun simctl boot "${{ matrix.simulator }}"
          xcrun simctl install booted build/src/Release-iphonesimulator/Fcitx5.app
          xcrun simctl launch booted org.fcitx.Fcitx5

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
